.page-top-container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.page-top-container .right-container{
  display: flex;
  margin-right: 20px;
}
.search-bar{
  width: 200px;
}

@media only screen and (max-width: 600px){
  .page-top-container .right-container{
    display: none;
  }
}