.profile-container{
  width: 91%;
  padding: 20px 10px;
  margin: 0 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.profile-page{
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.profile-info{
  overflow-wrap: anywhere;
}